<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :reply %><br>
    <%= f.date_select :reply %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.select :question_id, Question.find(:all, :order => "title").collect {|s|
			[(s.title), s.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
